<mat-nav-list>
    <h2 matSubheader>Menu</h2>
    <a mat-list-item routerLink="/"><mat-icon>dashboard</mat-icon>&nbsp;&nbsp;Dashboard</a>
    <!-- <a mat-list-item routerLink="/chart"><mat-icon>bar_chart</mat-icon>&nbsp;&nbsp;Chart</a> -->
    <a mat-list-item routerLink="/screener"><mat-icon>filter_list</mat-icon>&nbsp;&nbsp;PCR Test</a>
    <!-- <a mat-list-item routerLink="/screener"><mat-icon>play_circle_filled</mat-icon>&nbsp;&nbsp;Videos</a> -->
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/"><mat-icon>settings</mat-icon>&nbsp;&nbsp;Settings</a>
    <a mat-list-item routerLink="/admin"><mat-icon>supervisor_account</mat-icon>&nbsp;&nbsp;Admin</a>
</mat-nav-list>
