<mat-divider></mat-divider>
<footer>
  <div style="display: flex">
    <div>&copy; All rights reserved 2020 - Easy Cloud Systems</div>
    <div style="flex-grow: 1;"></div>
    <div>
      <a href="#">
        <img src="../../assets/footer/facebook.png" height="18" style="vertical-align: middle; margin-right: 20px;" />
      </a>
      <a href="#">
          <img src="../../assets/footer/instagram.png" height="18" style="vertical-align: middle; margin-right: 20px;" />
      </a>
      <a href="#">
          <img src="../../assets/footer/twitter.png" height="18" style="vertical-align: middle; margin-right: 20px;" />
      </a>
    </div>
  </div>
</footer>

