#spinnerWrap {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  top: 0;
}

.spinner {
  display: flex;
  margin: 0 auto;
}

.normalView {
  height: 100%;
  display: block;
}

.fullView {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: translate3d(0,0,0);
}
